<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>TMDAD</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script>
            var app = angular.module('tmdad', []);
            var source = undefined;

            app.controller('twCtrl', ['$scope', '$http', ($scope, $http) =>
            {
                $scope.submitForm = () =>
                {
                    if (source !== undefined){source.close();}
                    // Remove last Msg
                    $scope.msg = {};

                    // Subscribe to a twitter listener
                    source = new EventSource('/stats?search=' + $scope.form.search);
                    // New Message
                    source.addEventListener('message', (msg) => 
                    { 
                        $scope.$apply(() => 
                        { 
                            aux = JSON.parse(msg.data)
                            console.log(aux);
                            $scope.msg = JSON.parse(msg.data); 
                        });
                    }, false);
                    // EventSource is closed
                    source.addEventListener('close', (msg) => {console.log("Closed...");});
                }
            }]);
        </script>
    </head>
    <body ng-app=tmdad ng-controller=twCtrl>
        <div class="container main">
        <div class="row">
        <div class="span10 offset1" style="text-align: center">
            <h2>Search</h2>
        </div>
        <div class="row span10 offset1" style="text-align: center">
        <form ng-submit="submitForm()"> 
            <br><input type="text" ng-model="form.search">
            <input type="submit"/>
        </form>
        </div>
        </div>
	    <hr/>
        <div class="container main">
        <div class="row">
            <div class="span10 offset1" style="text-align: center">
                <h2>Proccessor Config</h2>
                <!-- Aqui hay un valor que puede tener que cambiar -->
		        <a href="https://localhost:8082/">Related Words</a>
                <br/>
                <!-- Aqui hay un valor que puede tener que cambiar -->
		        <a href="https://localhost:8083/">Statistics</a>
            </div>
        </div>
        <hr/>
        <div class="container main">
        <div class="row">
            <div class="span10 offset1" style="text-align: center">
                <h2>Twitter details update via SSE</h2>
            </div>
        </div>
        <div class="row">
            <div class="span8 offset2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Words:</td>
                            <td>{{msg.numWords}}</td>
                        </tr>
                        <tr>
                            <td>Hashtag:</td>
                            <td>{{msg.numHashtag}}</td>
                        </tr>
                        <tr>
                            <td>Mentions:</td>
                            <td>{{msg.numMentions}}</td>
                        </tr>
                        <tr>
                            <td>Links:</td>
                            <td>{{msg.numLinks}}</td>
                        </tr>
                        <tr>
                            <th>Lang</th>
                        </tr>
                        <tr ng-repeat= "(key, value) in msg.lang">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                        <tr>
                            <th>Related words</th>
                        </tr>
                        <tr ng-repeat= "(key, value) in msg.words">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
