<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>TMDAD</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script>
            var app = angular.module('tmdad', []);
            var source = undefined;

            app.controller('twCtrl', ['$scope', '$http', ($scope, $http) =>
            {
                $scope.tw = [];
                $scope.submitForm = () =>
                {
                    if (source !== undefined){source.close();}
                    // Remove last Msg
                    $scope.msg = {};

                    // Subscribe to a twitter listener
                    source = new EventSource('/stats?search=' + $scope.form.search);
                    // New Message
                    source.addEventListener('message', (msg) => 
                    { 
                        $scope.$apply(() => 
                        { 
                            //console.log(msg.data);
                            aux = JSON.parse(msg.data);
                            if (aux.tr == true) $scope.tw.push(aux);
                            else $scope.msg = JSON.parse(msg.data);
                            
                        });
                    }, false);
                    // EventSource is closed
                    source.addEventListener('close', (msg) => {console.log("Closed...");});
                }
                $scope.db = () =>
                {
                    alert("Loading")
                    console.log($scope.dbf.search)
                    $http({
                        method: 'GET',
                        url: 'db',
                        params: {search: $scope.dbf.search}
                    }).then(function successCallback(response)
                    {
                        //aux = JSON.parse(response.data);
                        console.log(response.data)
                        $scope.msg = response.data;
                        $scope.tw = response.data.tweet
                    }, function errorCallback(response)
                    {
                    });
                }
            }]);
        </script>
    </head>
    <body ng-app=tmdad ng-controller=twCtrl>
        <div class="container main">
        <div class="row">
        <div class="span10 offset1" style="text-align: center">
            <h2>Search</h2>
        </div>
        <div class="row span10 offset1" style="text-align: center">
        <form ng-submit="submitForm()"> 
            <br><input type="text" ng-model="form.search">
            <input type="submit"/>
        </form>
        </div>
        <div class="row span10 offset1" style="text-align: center">
        <div class="span10 offset1" style="text-align: center">
            <h2>Data Base</h2>
        </div>
        <form ng-submit="db()"> 
            <br><input type="text" ng-model="dbf.search">
            <input type="submit"/>
        </form>
        </div>
        </div>
	    <hr/>
        <div class="container main">
        <div class="row">
            <div class="span10 offset1" style="text-align: center">
                <h2>Twitter details update via SSE</h2>
            </div>
        </div>
        <div class="row">
            <div class="span8 offset2">
                <table class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Tweets</th>
                        </tr>
                        <tr ng-repeat= "t in tw | limitTo:-5">
                            <td>{{ t.text }}</td>
                            <td> -- </td>
                            <td>{{ t.textTr }}</td>
                            <td> <hr/>
                        </tr>
                        <tr>
                            <th><hr/></th>
                        </tr>
                        <tr>
                            <th>Statiscs</th>
                        </tr>
                        <tr>
                            <td>Words:</td>
                            <td>{{msg.numWords}}</td>
                        </tr>
                        <tr>
                            <td>Hashtag:</td>
                            <td>{{msg.numHashtag}}</td>
                        </tr>
                        <tr>
                            <td>Mentions:</td>
                            <td>{{msg.numMentions}}</td>
                        </tr>
                        <tr>
                            <td>Links:</td>
                            <td>{{msg.numLinks}}</td>
                        </tr>
                        <tr>
                            <th><hr/></th>
                        </tr>
                        <tr>
                            <th>Related words</th>
                        </tr>
                        <tr><hr/><tr/>
                        <tr ng-repeat= "(key, value) in msg.words | limitTo:-5">
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
